<!DOCTYPE html>
<html lang="en" ng-app="adminr-core-test">
<head>
    <meta charset="UTF-8">
    <title>Adminr-datasource example</title>

    <script src="../bower_components/angular/angular.js" type="application/javascript"></script>
    <script src="../bower_components/angular-resource/angular-resource.js" type="application/javascript"></script>
    <script src="../bower_components/ngstorage/ngStorage.js" type="application/javascript"></script>
    <script src="../dist/index.js" type="application/javascript"></script>
    <script src="index.js" type="application/javascript"></script>
    <style ></style>
</head>
<body ng-controller="TestCtrl">

<h3>Unauthorized resource</h3>
<p>
    <adminr-resource assign="unauthorizedResource" init="Me.get()"></adminr-resource>
    unauthorized resource: {{unauthorizedResource.error.data}} (status: {{unauthorizedResource.error.status}})
</p>

<h3>Users</h3>

<p nga-init="users = User.query({limit:5,order:'username'})">
    on-load triggered: {{test}}<br />
    <adminr-resource assign="users" init="User.query({limit:5,order:'username'})" on-load="test = 'yes'"></adminr-resource>
    users: {{users.range}} (resolved: {{users.resolved}})
    <ul>
        <li ng-repeat="user in users.data">#{{user.id}} {{user.username}} <a href="#" ng-click="users.deleteItem(user)">x</a></li>
    </ul>
<button ng-click="users.reload()">reload</button><br />
    limit: <input type="number" ng-model="users.range.limit" /> <br />
    offset: <input type="number" ng-model="users.range.offset" />


<h3>Create user</h3>

<form ng-init="state='none'">
    state: {{state}}<br />
    resolved: {{user.resolved}}<br />
    <adminr-resource assign="user" init="User.create({username:'test_username'})" on-save="state='saved';users.reload()" on-init="state = 'created'" on-save-reinit="true"></adminr-resource>
    <input type="text" ng-model="user.data.username" /> <button ng-click="user.$save()">save</button>
</form>
</p>

</body>
</html>